RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f       
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{HTTP_HOST} ^basiacoulter.com
RewriteRule (.*) http://www.basiacoulter.com/$1 [R=301,L]

Options +FollowSymLinks
RewriteCond %{THE_REQUEST} ^.*/index 
RewriteRule ^(.*)index$ http://www.basiacoulter.com/$1 [R=301,L]

