// --------------------------------------------------
//                    Typography
// --------------------------------------------------

body {
	font-family: 'Roboto', sans-serif;
	font-size: $font-size-min;
	line-height: $line-height-min;
	color: $black;
	transition: font-size 0.3s ease;
	@media screen and (min-width: $phone + 1px) {
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
}

h1 {
	font-size: modular-scale(4);
	line-height: $line-height-min;
	@media screen and (min-width: $phone + 1px) {
		font-size: modular-scale(5);
	}
}
h2 {
	font-size: modular-scale(4);
}
h3 {
	font-size: modular-scale(3);
	color: $gray-light;
	font-weight: 300;
}
h4{
	font-size: modular-scale(2);
}
h5 {
	font-size: modular-scale(1);
}
h6 {
	font-size: modular-scale(-1);
}
h1,
h2 {
	font-family: 'Roboto Condensed', sans-serif;
}
figcaption {
	font-size: $font-size-min;
	line-height: $line-height-min;
	color: $gray-light;
	margin-top: 0.25rem;
}
.tagline {
	font-size: modular-scale(3);
	font-weight: 300;
	transition: font-size 0.3s ease;
	@media screen and (max-width: $phone) {
		font-size: modular-scale(2);
	}
}
.hero__content {
	h1,
	p {
		line-height: 1;
		margin: 0;
	}
}
.footer__content {
	font-size: $font-size-min;
}


